@import "tailwindcss";

.font-inter {
  font-family: 'Inter', serif;
  letter-spacing: -0.8px;
  line-height: 27.9px;
  color: black;
}

.font-inter{
  font-family: 'Inter', serif;
  letter-spacing: -0.8px;
  line-height: 27.9px;
  color: black;
}

.element::-webkit-scrollbar {
  display: none;
}