@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Matemasie&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */

body {
  @apply bg-repeat bg-center bg-[length:500px_400px];
  background-image: url("./assets/bg4.png");
  font-family: "Inter", sans-serif;
}

.page {
  height: 100vh;
  border-bottom: white 4px solid;
}

.matemasie-regular {
  font-family: "Matemasie", serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(200);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.hero {
  opacity: 0;
  animation: fadeInScale 1s ease-out forwards;
}
